{% extends "layout.html" %}
{% block title %}{{"Edit" if org.get("id") else "Create"}}
Organization{% endblock %}
{% block content %}
{% from "country_state_selector.html" import country_state_selector %}

<div class="container-fluid">
    <div class="h1">{{"Edit" if org.get("id") else "Create"}} Organization</div>
    <div>
        <form method="POST">
            {#
            using regular html generate fields (labels and input; not WTForms) with proper types for
            name (required)
            description (optional)
            address (required)
            city (required) (can be a text field, doesn't need to be a valid city)
            state/country (required) (given)
            zip (required)
            website (optional)
            
            if a validation error occurs, the inserted form data should persist
            #}
            <!--name-->
            <div class="form-group row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{org.get("name") or '' }}" >
                </div>
            </div>
            <!--description-->
            <div class="form-group row mb-3">
                    
                <label for="description" class="col-sm-2 col-form-label" >Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description" id="description">{{org.get("description") or ''}}</textarea>
                </div>
            </div>

            <!--address-->
            <div class="form-group row mb-3">
                <label for="address" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="address" name="address" placeholder="Address" value="{{org.get("address") or '' }}">
                </div>
            </div>
            <!-- website -->
            <div class="form-group row mb-3">
                <label for="website" class="col-sm-2 col-form-label">Website</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="website" name="website" placeholder="Website" value="{{org.get("website") or ''}}">
                </div>
            </div>
            <!-- city -->
            <div class="form-group row mb-3">
                <label for="city" class="col-sm-2 col-form-label">City</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="city" name="city" placeholder="City" value="{{org.get("city") or '' }}">
                </div>
            </div>
            {# use this for country/state selection #}
            <!-- country/state -->
            {{country_state_selector(country=org.country,state=org.state)}}
            <!--zip-->
            <div class="form-group row mb-3">
                <label for="zip" class="col-sm-2 col-form-label">Zip</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="zip" name="zip" placeholder="Zip" value="{{org.get("zip") or '' }}">
                </div>
            </div>
            <div class="text-center" style="margin-bottom: 5em">
            <input type="submit" class="btn btn-primary"
                value="Save Organization" />
            </div>
        </form>
    </div>
</div>
{% endblock %}